.wrapper {
    width: 439px;
    min-height: 90vh;
}

.chat {
    height: calc(90vh - 62px);
    padding-right: 4px;
    background-color: white;
}

.input {
    position: relative;
    width: 100%;
    height: auto;
    padding: 13px 16px;
    border: 1px solid #dce1e6;
    border-radius: 0px 0px 4px 4px;
    background: #fafbfc;
}

.gifs {
    position: absolute;
    top: -257px;
}
