@import "../../styles/mixins";

.wrapper {
    padding: 0 9px 0 6px;
    border: 1px solid #d3d9de;
    border-radius: 1px;
    background: #ffffff;
}

.content {
    @include scroll;

    overflow: auto;
    width: 384px;
    height: 248px;
    margin-left: 4px;
    padding: 10px 5px 10px 0;
}
