.wrapper {    
    padding: 0 9px 0 6px;
    border: 1px solid #D3D9DE;
    border-radius: 1px;
    background: #FFFFFF;
}

.content {
    overflow: auto;
    height: 248px;
    width: 384px;
    margin-left: 4px;
    padding: 10px 5px 10px 0;

    /* firfox */
    scrollbar-color: #DAE2EA white;
    scrollbar-width: thin;
}

.content::-webkit-scrollbar {
    width: 6px;
}

.content::-webkit-scrollbar-track {
    background-color: #FFFFFF;
    margin: 10px 0;
}

.content::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background: #DAE2EA;
}
