.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

.column {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.gif {
    border: 0.5px solid rgba(0, 0, 0, 0.08);
    border-radius: 2px;
    transition: 0.15s;
    background-color: #dae2ea;

    &:hover {
        cursor: pointer;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 13px 8px rgba(0, 0, 0, 0.12))
            drop-shadow(0px 6px 6px rgba(0, 0, 0, 0.2));
    }

    &:active {
        filter: none;
    }
}
