@import "../../styles/mixins";

.wrapper {
    position: relative;
}

.textarea {
    @include default-font;

    position: relative;
    z-index: 10;
    width: 405px;
    height: 36px;
    padding: 9.5px 12px;
    border: 1px solid #d3d9de;
    border-radius: 6px;
    outline: none;
    resize: none;
    overflow: hidden;
    color: transparent;
    background: transparent;
    caret-color: black;

    word-break: break-all;
}

.background {
    position: absolute;
    top: 0;
    width: 405px;
    height: 36px;
    border-radius: 6px;
    background: white;
}

.text {
    @include default-font;

    position: absolute;
    top: 10.5px;
    left: 13px;
    width: 379px;
    overflow: hidden;
}

.fancy {
    @include background-gradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    word-break: break-all;
    font-weight: 600;
}

.default {
    word-break: break-all;
}
