.wrapper {
    display: flex;
    align-items: flex-end;
}

.reverse {
    flex-direction: row-reverse;
}

.text {
    background-color: #FAFBFC;
    border: 0.5px solid rgba(0, 0, 0, 0.08);
    border-radius: 6px;
    padding: 6px 9px;

    word-break: break-word;
}

.gif {
    width: -moz-available;
    width: -webkit-fill-available;
    width: fill-available;

    border: 0.5px solid rgba(0, 0, 0, 0.08);
    border-radius: 6px;

    background-color: #FAFBFC;
}

.time {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 17px;
    
    color: #99A2AD;
    margin: 0px 8px;
}